@charset "UTF-8";
.view {
  background-color: #f6f9fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100vh;
  width: 90vw;
  min-width: 24em;
  margin: auto;
  position: relative;
}

.view .ag-theme-alpine .ag-root-wrapper {
  border: 0;
}

.filter, .openDetail {
  color: #a1b0b8;
}

.ag-header-row {
  color: #647384;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.ag-header-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ag-header-cell[aria-sort='ascending'] .customSortDownLabel.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ag-header-cell[aria-sort='ascending'] .customSortUpLabel.inactive {
  display: none;
}

.ag-header-cell[aria-sort='descending'] .customSortDownLabel.inactive {
  display: none;
}

.ag-header-cell[aria-sort='descending'] .customSortUpLabel.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ag-header-cell:hover .headerLabel.r .filter,
.ag-header-cell:hover .headerLabel.r .openDetail {
  visibility: visible;
}

.ag-header-cell .headerLabel.r .filter,
.ag-header-cell .headerLabel.r .openDetail {
  visibility: hidden;
}

.ag-header-cell.ag-column-menu-visible .headerLabel.r .filter,
.ag-header-cell.ag-header-active .headerLabel.r .filter:active,
.ag-header-cell.ag-column-menu-visible .headerLabel.r .openDetail,
.ag-header-cell.ag-header-active .headerLabel.r .openDetail:active {
  visibility: visible;
  color: #0094ff;
}

.headerLabel.r div:not(:last-child) {
  margin-right: .25rem;
}

.headerLabel.l div:not(:first-child) {
  margin-right: .25rem;
}

.ag-theme-alpine .ag-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: none;
}

.ag-theme-alpine .ag-cell, .ag-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dde2eb;
}

.ag-theme-alpine .ag-ltr .ag-cell {
  border-right-width: 0;
}

.ag-pinned-left-cols-container .ag-cell.ag-cell-not-inline-editing.ag-cell-auto-height {
  line-height: 60px;
}

.ag-theme-alpine .ag-header-cell,
.ag-theme-alpine .ag-cell.ag-cell-wrap-text,
.ag-theme-alpine .ag-full-width-row .ag-cell-wrapper.ag-row-group {
  padding-left: 10px;
  padding-right: 10px;
}

.ag-theme-alpine .ag-row > .ag-cell-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

.ag-pinned-left-cols-container .ag-cell-wrapper {
  display: block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ag-theme-alpine .ag-header-cell:after {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "";
  position: absolute;
  z-index: 1;
  height: 20px;
  width: 1px;
  right: 0;
  background-color: #96b5ca8a;
}

.ag-theme-alpine .ag-pinned-left-header .ag-header-cell:last-child:after {
  display: none;
}

.ag-theme-alpine .ag-cell, .ag-theme-alpine .ag-full-width-row .ag-cell-wrapper.ag-row-group {
  line-height: 25px;
  /**/
}

.ag-cell-wrapper,
.ag-theme-alpine .ag-cell-wrapper > *:not(.ag-cell-value):not(.ag-group-value) {
  height: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.headerTitleCell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.headerTitleCell .headerLabel.l, .headerTitleCell .headerLabel.r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerTitleCell .headerLabel .customHeaderLabel {
  color: #647384;
  margin-right: 0.25rem;
}

.headerTitleCell .headerLabel .sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ag-theme-alpine .ag-header {
  background-color: #f6f9fb;
  border-bottom: solid 2px #96b5ca8a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 100%;
}

.customSortDownLabel,
.customSortUpLabel {
  color: #a1b0b8;
}

.customSortDownLabel.active,
.customSortUpLabel.active {
  color: #0094ff;
}

.ag-theme-alpine .ag-pinned-left-header,
.ag-theme-alpine .ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right):not(.ag-cell-range-single-cell) {
  border-right: 1px solid #96b5ca8a;
}

.ag-pinned-left-cols-container .ag-row-hover .ag-cell:first-child {
  border-left: 3px solid #0094ff;
}

.ag-header-cell:hover {
  cursor: auto;
}

.ag-header-cell:hover .ag-header-cell-sortable:visited,
.ag-header-cell:hover .ag-header-cell-sortable,
.ag-header-cell-sortable:active,
.ag-header-cell-sortable:focus {
  cursor: pointer;
}

button.expand,
button.splitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: inherit;
  cursor: pointer;
  border: 0;
}

button.expand svg {
  width: 24px;
  height: 21px;
  fill: #647384;
}

button.expand:hover svg,
button.expand.active svg {
  fill: #0094ff;
}

button.splitter {
  z-index: 2;
  color: #71a7d3;
  font-size: 2rem;
}

button.splitter i.fa-caret-left {
  position: absolute;
  top: 128px;
  left: 588px;
}

button.splitter i.fa-caret-right {
  position: absolute;
  top: 128px;
  left: 190px;
}

button.expand .messageE,
button.expand .messageC,
button.splitter i .message {
  display: none;
}

button.expand:hover.open svg + .messageE,
button.expand:hover.close svg + .messageE + .messageC,
button.splitter:hover i .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  color: #ffffff;
  font-size: 0.25rem;
  background: #000;
  padding: 0.5rem;
  border-radius: 0.25rem;
  z-index: 3;
}

button.splitter:hover i .message {
  left: -18px;
}

button.expand:hover svg + .messageE,
button.expand:hover.close svg + .messageE + .messageC {
  top: 24px;
  left: 5px;
}

button.expand:hover.open svg + .messageE:before,
button.expand:hover.close svg + .messageE + .messageC:before,
button.splitter:hover i .message:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  content: "";
  border: solid transparent;
  border-bottom-color: #000;
  border-width: 5px;
}

button.expand:hover.open svg + .messageE:before,
button.expand:hover.close svg + .messageE + .messageC:before {
  left: 33%;
}

button.splitter i .messageV {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 224px;
  /*要修*/
  background: #71a7d3;
  position: absolute;
  top: -77px;
  /*要修*/
  left: -31px;
  direction: ltr;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 1rem;
  padding: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

i.fa.fa-caret-right:after,
i.fa.fa-caret-left:after {
  content: "";
  width: 10px;
  height: 240px;
  position: absolute;
  background: #96b5ca52;
  top: -77px;
  left: 0;
}

.ag-cell-wrapper .cellDate .planDate {
  padding: 0 0.5rem;
  min-width: 80px;
}

.ag-cell-wrapper .has-delay {
  color: red;
}

.has-ac-date {
  border: 1px solid red;
}

.has-empty {
  border: 1px solid #d8d8d8;
  background: #fff;
  height: 27px;
}

.ag-theme-alpine .ag-ltr .ag-cell-focus:focus,
.ag-theme-alpine .ag-ltr .ag-cell:focus,
.ag-theme-alpine .ag-ltr .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected) {
  background-color: #b5c6d7;
  border: none;
}

.ag-cell-wrapper .cell {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.ag-cell-wrapper .cell .cellDate {
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 80px;
}

.ag-cell-wrapper .cell .cellDetailSwitch {
  opacity: 0;
}

.ag-row-hover .ag-cell-wrapper .cell .cellDetailSwitch,
.ag-cell-focus .ag-cell-wrapper .cell .cellDetailSwitch {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.ag-full-width-container .ag-row {
  background-color: #b5c6d7;
  z-index: 2;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

.full-width-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.full-width-cell .cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full-width-cell .cell .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 0.5rem;
}

.full-width-cell .cell .date label {
  font-size: .25rem;
  font-weight: bolder;
}

.full-width-cell .cell .date input {
  border: none;
  -webkit-box-shadow: 2px 2px 3px #ccdbe8 inset, -1px -1px 2px #ffffff80 inset;
          box-shadow: 2px 2px 3px #ccdbe8 inset, -1px -1px 2px #ffffff80 inset;
  padding: 0.25rem;
}

.full-width-cell .cell .date input:focus {
  outline: none;
  border: 2px solid #0094ff;
}

.full-width-cell .cell .date input:-moz-read-only {
  background-color: #dfdfe3;
  color: #5f5f6a;
  box-shadow: none;
}

.full-width-cell .cell .date input:read-only {
  background-color: #dfdfe3;
  color: #5f5f6a;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.full-width-cell .cell button {
  border-radius: 0.25rem;
  border: 0;
  margin-right: 0.5rem;
  width: 24px;
  height: 24px;
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 3px #0000001a, 0px 1px 2px #0000000f;
          box-shadow: 0px 2px 3px #0000001a, 0px 1px 2px #0000000f;
}

.full-width-cell .cell button.ok {
  background-color: #0094ff;
}

.full-width-cell .cell button.cancel {
  background-color: red;
}

.table2nd {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  width: inherit;
  background: #fff;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 5;
}

.table2nd button {
  font-size: 2rem;
  border: 0;
  background: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  top: -10px;
  right: -16px;
  z-index: 8;
}

.table2nd button:hover {
  color: #0094ff;
}

.table2nd .table {
  width: inherit;
  height: inherit;
  -webkit-box-shadow: 0px 0.0625em 0.0625em #00000040 ,  0px 0.125em 0.5em #00000040, 0px 0px 0px 1px  #ffffff1a inset;
          box-shadow: 0px 0.0625em 0.0625em #00000040 ,  0px 0.125em 0.5em #00000040, 0px 0px 0px 1px  #ffffff1a inset;
}
/*# sourceMappingURL=style.css.map */